{% extends 'homepage/base.html' %}

{% block title%}
Articles page
{% endblock %}

{% block body %}
<h1>Choose an article!</h1>
<ul class="list-group">
  {% for num in articles %}
  {% cycle val1 val2 as val silent %}
  <li class="list-group-item {% cycle 'list-group-item-primary' 'list-group-item-success' 'list-group-item-warning' %}">Article №{{ num }} {{ val|safe }}</li>
  {% endfor %}
  {% cycle 'dark' 'danger' as theme silent %}

  <li class="list-group-item list-group-item-{{ theme }} ">A simple primary list group item</li>
  <li class="list-group-item list-group-item-{{ theme }}">A simple secondary list group item</li>
  
</ul>
{% endblock %}